# OS ANNOYING FILES#
######################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.DS_Store
*~*

#IDE ANNOYING FILES#
*.idea
*.iml

#GENERALLY IGNORE OBJECT BINARIES OR SERIALIZATION#
*.pkl
*.json
*.xml

#IGNORE DATA FILES (FORCE COMMIT IF WANTED)
*.csv
*.h5

#IGNORE JUPYTER CHECKPOINTS#
*.ipynb_checkpoints
*\#*
*.pwr
*.pyc
*.log
*.pbs



#locally stored objects
steric_free_simulator/local_saves

#Results section
steric_free_simulator/results

#Inout files
steric_free_simulator/input_files

#Cache files
steric_free_simulator/__pycache__


